/proyecto-desarrollo-videojuegos/videogame/nbproject/private/
/proyecto-desarrollo-videojuegos/videogame/build/
/proyecto-desarrollo-videojuegos/videogame/dist/
/proyecto-desarrollo-videojuegos/tarea1/nbproject/private/
/proyecto-desarrollo-videojuegos/tarea1/build/
/proyecto-desarrollo-videojuegos/tarea1/dist/
/proyecto-desarrollo-videojuegos/ParaExamen/VideoGame/nbproject/private/
/proyecto-desarrollo-videojuegos/ParaExamen/VideoGame/build/
/proyecto-desarrollo-videojuegos/tarea2/nbproject/private/
/proyecto-desarrollo-videojuegos/tarea2/build/
/proyecto-desarrollo-videojuegos/Videojuego Zombies/nbproject/private/
/proyecto-desarrollo-videojuegos/Brackeen/nbproject/private/
/proyecto-desarrollo-videojuegos/Brackeen/build/
/proyecto-desarrollo-videojuegos/Brackeen/dist/
/proyecto-desarrollo-videojuegos/JuegoBrackeen/nbproject/private/
/proyecto-desarrollo-videojuegos/JuegoBrackeen/build/
/proyecto-desarrollo-videojuegos/Bluescape/nbproject/private/
/proyecto-desarrollo-videojuegos/Bluescape/build/
/proyecto-desarrollo-videojuegos/Bluescape/dist/